/* Global styles */
body {
          font-family: 'Helvetica Neue', Arial, sans-serif;
          line-height: 1.6;
}

/* Navbar */
.navbar-brand {
          font-weight: bold;
          font-size: 1.5rem;
}

/* Hero Section */
.hero-section {
          height: 40vh;
          background-image: url('./images/wholesale-fitness-clothing.jpg');
          background-size: cover;
          background-position: center;
          position: relative;
}

.overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
}

.content {
          position: relative;
          z-index: 1;
}

.hero-section h1,
.hero-section p {
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero2-section {
    height: 40vh;
    background-image: url('./images/equipmentcover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Featured Products */
.featured-products .card {
          transition: transform 0.3s, box-shadow 0.3s;
}

.featured-products .card:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
          background-color: #f8f9fa;
}

/* Enhancements */
.btn-outline-primary {
          border-width: 2px;
          transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-primary:hover {
          background-color: #007bff;
          color: #fff;
}

/* Additional improvements for responsiveness */
@media (max-width: 768px) {
          .hero-section h1 {
                    font-size: 2.5rem;
          }

          .hero-section p {
                    font-size: 1.25rem;
          }
}

@media (min-width: 1200px) {
          .card-body {
                    padding: 2rem;
          }
}
.card:hover {
          transform: translateY(-10px);
          transition: transform 0.3s ease;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.author-info {
    margin-top: 50px;
    background-image: url('./images/authorspage.png');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.author-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 0;
}

.author-info h2, .author-info p {
    position: relative;
    z-index: 1;
    color: white;
}
